td {
    border-collapse: collapse;
}
td, th {
    vertical-align: top;
    border: 0px;
    padding: 0px;
}
th {
    text-align: center;
    padding-left: 10px;
    background-color: rgba(212, 226, 226, 0.23);
    color: rgba(62, 62, 62, 0.78);
}
label:hover {
    background-color: rgba(235, 28, 29, 0.13);
}

label {
    padding: 2px;
}
#centerMainDivEditHelp {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    overflow: auto;
    margin-top: 10px;
}